#giftCounter {
    float: left;
    background: #eedd55;
    text-align: center;
    padding: 2rem;
    border-radius: 0 5em 5em 5em;
    font-size: 1.5rem;
    font-family: cursive;
}

.editTools {
    float: right;
}

.addressEntry {
    clear: both;
    border-top: 1px solid #aaaaaa;
}
ul li {
    list-style: none;
}

form {
    clear: both;
}
