<form name="entryEdit">
    <h2>
        <span>
            <label>Nom&nbsp;<input
                    type="text"
                    ng-model="newPerson.name"
                    name="name"
                    id="name"
                    required="required"
                    ng-maxlength="512"></label>
        </span>
    </h2>
    <dl>
        <dt><label for="address">Adresse</label></dt>
        <dd><input type="text"
                   id="address"
                   name="address"
                   ng-model="newPerson.address"
                   ng-maxlength="1024"></dd>
        <dt>Date de naissance</dt>
        <dd><input type="number"
                   id="birthYear" name="birthYear"
                   ng-model="newPerson.birthdate.year"
        >-<input type="number"
                 id="birthMonth" name="birthMonth"
                 min="1" max="12"
                 ng-model="newPerson.birthdate.month"
        >-<input type="number"
                 id="birthDay" name="birthDay"
                 min="1" max="31"
                 ng-model="newPerson.birthdate.day"
        >
        </dd>
    </dl>
    <div class="editTools">
        <button ng-click="entryEdit.$valid && submitEdit(newPerson)">Sauvegarder</button>
        <button ng-click="cancelEdit()">Annuler</button>
    </div>
</form>
